.content {
  flex: 9;
}

.buttons {
  flex: 1;
  display: flex;
  flex-direction: row;
  column-gap: 3px;
}

.buttons__upload {
  flex: 1;
  margin: 3px;
}

.buttons__clear {
  flex: 1;
  margin: 3px;
}

.buttons__format {
  flex: 1;
  margin: 3px;
}
