.layout {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.content-panel {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.divider {
  width: 3px;
  background-color: #fff; /* Adjust color as needed */
}

.query-panel {
  flex: 1;
  margin: 0;
  padding: 0;
}
