.navbar {
  height: 100%;
}

.navbar-logo {
  width: auto;
  height: 100%;
  max-height: 30px;
  object-fit: contain;
  margin-left: 10px;
}

.push-left {
  margin-right: auto;
}

.push-right {
  margin-left: auto;
  margin-right: 10px;
}

.theme-toggle-icon {
  font-size: 25px;
  cursor: pointer;
}

.github-icon {
  font-size: 25px;
  cursor: pointer;
}
